In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

import datetime

import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('ggplot')

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
df_hsi = pd.read_csv('hang_seng.csv')

In [4]:
df_hsi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5107 entries, 0 to 5106
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5107 non-null   object
 1   Open       5023 non-null   float64
 2   High       5023 non-null   float64
 3   Low        5023 non-null   float64
 4   Close      5023 non-null   float64
 5   Adj Close  5023 non-null   float64
 6   Volume     5023 non-null   float64
dtypes: float64(6), object(1)
memory usage: 279.4+ KB

In [5]:
df_hsi.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-03,17057.699219,17426.160156,17057.699219,17369.630859,17369.630859,0.0
1,2000-01-04,17303.000000,17303.000000,16933.519531,17072.820313,17072.820313,0.0
2,2000-01-05,16608.550781,16608.550781,15688.490234,15846.719727,15846.719727,0.0
3,2000-01-06,15942.070313,15971.030273,14763.969727,15153.230469,15153.230469,0.0
4,2000-01-07,15329.339844,15513.889648,15108.750000,15405.629883,15405.629883,0.0

In [6]:
df_hsi= df_hsi[['Date','Close']]

In [7]:
df_hsi.rename(columns = {'Date':'date', 'Close':'hsi_close'}, inplace = True)

In [8]:
df_hsi['date'] = pd.to_datetime(df_hsi['date'], yearfirst = True)

In [9]:
df_hsi.sort_values(by = 'date', inplace = True)

In [10]:
df_hsi['hsi_close_lag1'] = df_hsi['hsi_close'].shift(1)

In [11]:
df_hsi['hsi_change%'] = 100*((df_hsi['hsi_close'] - df_hsi['hsi_close_lag1'])/ df_hsi['hsi_close_lag1'])
df_hsi['hsi_dif'] = df_hsi['hsi_close'] - df_hsi['hsi_close_lag1']

In [12]:
df_hsi.head()

        date     hsi_close  hsi_close_lag1  hsi_change%      hsi_dif
0 2000-01-03  17369.630859             NaN          NaN          NaN
1 2000-01-04  17072.820313    17369.630859    -1.708790  -296.810546
2 2000-01-05  15846.719727    17072.820313    -7.181594 -1226.100586
3 2000-01-06  15153.230469    15846.719727    -4.376232  -693.489258
4 2000-01-07  15405.629883    15153.230469     1.665648   252.399414

In [13]:
%store df_hsi

Stored 'df_hsi' (DataFrame)