In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

import datetime

import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('ggplot')

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
df_jeg = pd.read_csv('jeg.csv')

In [4]:
df_jeg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2884 entries, 0 to 2883
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2884 non-null   object
 1   Open       2869 non-null   float64
 2   High       2869 non-null   float64
 3   Low        2869 non-null   float64
 4   Close      2869 non-null   float64
 5   Adj Close  2869 non-null   float64
 6   Volume     2869 non-null   float64
dtypes: float64(6), object(1)
memory usage: 157.8+ KB

In [5]:
df_jeg.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2008-09-05,332.000000,343.000000,329.000000,335.000000,-4.022734e+11,2570000.0
1,2008-09-08,336.000000,350.000000,336.000000,343.000000,-4.118800e+11,3674000.0
2,2008-09-09,342.000000,347.989990,337.864990,337.864990,-4.057137e+11,151000.0
3,2008-09-10,319.382996,319.382996,319.382996,319.382996,-3.835203e+11,23000.0
4,2008-09-11,300.000000,307.000000,290.200012,290.799988,-3.491973e+11,5188000.0

In [6]:
df_jeg= df_jeg[['Date','Close']]

In [7]:
df_jeg.rename(columns = {'Date':'date', 'Close':'jeg_close'}, inplace = True)

In [8]:
df_jeg['date'] = pd.to_datetime(df_jeg['date'], yearfirst = True)

In [9]:
df_jeg.head()

        date   jeg_close
0 2008-09-05  335.000000
1 2008-09-08  343.000000
2 2008-09-09  337.864990
3 2008-09-10  319.382996
4 2008-09-11  290.799988

In [10]:
%store df_jeg

Stored 'df_jeg' (DataFrame)