In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

import datetime

import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('ggplot')

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
df_sse = pd.read_csv('sse.csv')

In [4]:
df_sse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5717 entries, 0 to 5716
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5717 non-null   object
 1   Open       5714 non-null   float64
 2   High       5714 non-null   float64
 3   Low        5714 non-null   float64
 4   Close      5714 non-null   float64
 5   Adj Close  5714 non-null   float64
 6   Volume     5714 non-null   float64
dtypes: float64(6), object(1)
memory usage: 312.8+ KB

In [5]:
df_sse.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-07-02,1255.909058,1261.571045,1147.331055,1199.061035,1199.061035,0.0
1,1997-07-03,1194.676025,1194.676025,1149.939941,1150.623047,1150.623047,0.0
2,1997-07-04,1138.921021,1163.249023,1124.776001,1159.342041,1159.342041,0.0
3,1997-07-07,1161.707031,1163.447021,1085.572021,1096.818970,1096.818970,0.0
4,1997-07-08,1092.798950,1115.432983,1066.043945,1109.666016,1109.666016,0.0

In [6]:
df_sse= df_sse[['Date','Close']]

In [7]:
df_sse.rename(columns = {'Date':'date', 'Close':'sse_close'}, inplace = True)

In [8]:
df_sse['date'] = pd.to_datetime(df_sse['date'], yearfirst = True)

In [9]:
df_sse.sort_values(by = 'date', inplace = True)

In [10]:
df_sse['sse_close_lag1'] = df_sse['sse_close'].shift(1)

In [11]:
df_sse['sse_change%'] = 100*((df_sse['sse_close'] - df_sse['sse_close_lag1']) / df_sse['sse_close_lag1'])
df_sse['sse_dif'] = df_sse['sse_close'] - df_sse['sse_close_lag1']

In [12]:
df_sse.head()

        date    sse_close  sse_close_lag1  sse_change%    sse_dif
0 1997-07-02  1199.061035             NaN          NaN        NaN
1 1997-07-03  1150.623047     1199.061035    -4.039660 -48.437988
2 1997-07-04  1159.342041     1150.623047     0.757763   8.718994
3 1997-07-07  1096.818970     1159.342041    -5.392979 -62.523071
4 1997-07-08  1109.666016     1096.818970     1.171300  12.847046

In [13]:
%store df_sse

Stored 'df_sse' (DataFrame)