In [26]:
import pymongo
import pandas as pd
from pymongo import MongoClient


import numpy as np
import pandas as pd
import scipy.stats as stats

import datetime

import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('ggplot')

In [27]:
client = MongoClient()
db_aud = client.aud_scraper

collection_aud = db_aud.rates

In [28]:
df_aud = pd.DataFrame(list(collection_aud.find()))

In [29]:
df_aud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            344 non-null    object
 1   date           341 non-null    object
 2   change%        343 non-null    object
 3   AUD_rate_tgt%  340 non-null    object
dtypes: object(4)
memory usage: 10.9+ KB

In [30]:
# remove Mongo _id column

df_aud.drop(columns = ['_id'], inplace = True)

In [31]:
# drop rows with NaN values

df_aud.dropna(inplace = True)

In [32]:
df_aud.head()

          date change% AUD_rate_tgt%
0   6 May 2020    0.00          0.25
1   8 Apr 2020    0.00          0.25
2  20 Mar 2020   -0.25          0.25
3   4 Mar 2020   -0.25          0.50
4   5 Feb 2020    0.00          0.75

In [33]:
df_aud['date'].unique()

array(['6 May 2020', '8 Apr 2020', '20 Mar 2020', '4 Mar 2020',
       '5 Feb 2020', '4 Dec 2019', '6 Nov 2019', '2 Oct 2019',
       '4 Sep 2019', '7 Aug 2019', '3 Jul 2019', '5 Jun 2019',
       '8 May 2019', '3 Apr 2019', '6 Mar 2019', '6 Feb 2019',
       '5 Dec 2018', '7 Nov 2018', '3 Oct 2018', '5 Sep 2018',
       '8 Aug 2018', '4 Jul 2018', '6 Jun 2018', '2 May 2018',
       '4 Apr 2018', '7 Mar 2018', '7 Feb 2018', '6 Dec 2017',
       '8 Nov 2017', '4 Oct 2017', '6 Sep 2017', '2 Aug 2017',
       '5 Jul 2017', '7 Jun 2017', '3 May 2017', '5 Apr 2017',
       '8 Mar 2017', '8 Feb 2017', '7 Dec 2016', '2 Nov 2016',
       '5 Oct 2016', '7 Sep 2016', '3 Aug 2016', '6 Jul 2016',
       '8 Jun 2016', '4 May 2016', '6 Apr 2016', '2 Mar 2016',
       '3 Feb 2016', '2 Dec 2015', '4 Nov 2015', '7 Oct 2015',
       '2 Sep 2015', '5 Aug 2015', '8 Jul 2015', '3 Jun 2015',
       '6 May 2015', '8 Apr 2015', '4 Mar 2015', '4 Feb 2015',
       '3 Dec 2014', '5 Nov 2014', '8 Oct 2014', '3 Sep 2014',
       '6 Aug 2014', '2 Jul 2014', '4 Jun 2014', '7 May 2014',
       '2 Apr 2014', '5 Mar 2014', '5 Feb 2014', '4 Dec 2013',
       '6 Nov 2013', '2 Oct 2013', '4 Sep 2013', '7 Aug 2013',
       '3 Jul 2013', '5 Jun 2013', '8 May 2013', '3 Apr 2013',
       '6 Mar 2013', '6 Feb 2013', '5 Dec 2012', '7 Nov 2012',
       '3 Oct 2012', '5 Sep 2012', '8 Aug 2012', '4 Jul 2012',
       '6 Jun 2012', '2 May 2012', '4 Apr 2012', '7 Mar 2012',
       '8 Feb 2012', '7 Dec 2011', '2 Nov 2011', '5 Oct 2011',
       '7 Sep 2011', '3 Aug 2011', '6 Jul 2011', '8 Jun 2011',
       '4 May 2011', '6 Apr 2011', '2 Mar 2011', '2 Feb 2011',
       '8 Dec 2010', '3 Nov 2010', '6 Oct 2010', '8 Sep 2010',
       '4 Aug 2010', '7 Jul 2010', '2 Jun 2010', '5 May 2010',
       '7 Apr 2010', '3 Mar 2010', '3 Feb 2010', '2 Dec 2009',
       '4 Nov 2009', '7 Oct 2009', '2 Sep 2009', '5 Aug 2009',
       '8 Jul 2009', '3 Jun 2009', '6 May 2009', '8 Apr 2009',
       '4 Mar 2009', '4 Feb 2009', '3 Dec 2008', '5 Nov 2008',
       '8 Oct 2008', '3 Sep 2008', '6 Aug 2008', '2 Jul 2008',
       '4 Jun 2008', '7 May 2008', '2 Apr 2008', '5 Mar 2008',
       '6 Feb 2008', '5 Dec 2007', '7 Nov 2007', '3 Oct 2007',
       '5 Sep 2007', '8 Aug 2007', '4 Jul 2007', '6 Jun 2007',
       '2 May 2007', '4 Apr 2007', '7 Mar 2007', '7 Feb 2007',
       '6 Dec 2006', '8 Nov 2006', '4 Oct 2006', '6 Sep 2006',
       '2 Aug 2006', '5 Jul 2006', '7 Jun 2006', '3 May 2006',
       '5 Apr 2006', '8 Mar 2006', '8 Feb 2006', '7 Dec 2005',
       '2 Nov 2005', '5 Oct 2005', '7 Sep 2005', '3 Aug 2005',
       '6 Jul 2005', '8 Jun 2005', '4 May 2005', '6 Apr 2005',
       '2 Mar 2005', '2 Feb 2005', '8 Dec 2004', '3 Nov 2004',
       '6 Oct 2004', '8 Sep 2004', '4 Aug 2004', '7 Jul 2004',
       '2 Jun 2004', '5 May 2004', '7 Apr 2004', '3 Mar 2004',
       '4 Feb 2004', '3 Dec 2003', '5 Nov 2003', '8 Oct 2003',
       '3 Sep 2003', '6 Aug 2003', '2 Jul 2003', '4 Jun 2003',
       '7 May 2003', '2 Apr 2003', '5 Mar 2003', '5 Feb 2003',
       '4 Dec 2002', '6 Nov 2002', '2 Oct 2002', '4 Sep 2002',
       '7 Aug 2002', '3 Jul 2002', '5 Jun 2002', '8 May 2002',
       '3 Apr 2002', '6 Mar 2002', '6 Feb 2002', '5 Dec 2001',
       '7 Nov 2001', '3 Oct 2001', '5 Sep 2001', '8 Aug 2001',
       '4 Jul 2001', '6 Jun 2001', '2 May 2001', '4 Apr 2001',
       '7 Mar 2001', '7 Feb 2001', '6 Dec 2000', '8 Nov 2000',
       '4 Oct 2000', '6 Sep 2000', '2 Aug 2000', '5 Jul 2000',
       '7 Jun 2000', '3 May 2000', '5 Apr 2000', '8 Mar 2000',
       '2 Feb 2000', '8 Dec 1999', '3 Nov 1999', '6 Oct 1999',
       '8 Sep 1999', '4 Aug 1999', '7 Jul 1999', '2 Jun 1999',
       '5 May 1999', '7 Apr 1999', '3 Mar 1999', '3 Feb 1999',
       '2 Dec 1998', '4 Nov 1998', '7 Oct 1998', '2 Sep 1998',
       '5 Aug 1998', '8 Jul 1998', '3 Jun 1998', '6 May 1998',
       '8 Apr 1998', '4 Mar 1998', '4 Feb 1998', '3 Dec 1997',
       '5 Nov 1997', '8 Oct 1997', '3 Sep 1997', '6 Aug 1997',
       '30 Jul 1997', '2 Jul 1997', '4 Jun 1997', '23 May 1997',
       '7 May 1997', '2 Apr 1997', '5 Mar 1997', '5 Feb 1997',
       '11 Dec 1996', '6 Nov 1996', '2 Oct 1996', '4 Sep 1996',
       '31 Jul 1996', '3 Jul 1996', '5 Jun 1996', '8 May 1996',
       '3 Apr 1996', '6 Mar 1996', '7 Feb 1996', '6 Dec 1995',
       '8 Nov 1995', '4 Oct 1995', '6 Sep 1995', '26 Jul 1995',
       '5 Jul 1995', '7 Jun 1995', '3 May 1995', '5 Apr 1995',
       '8 Mar 1995', '8 Feb 1995', '14 Dec 1994', '2 Nov 1994',
       '24 Oct 1994', '7 Sep 1994', '17 Aug 1994', '27 Jul 1994',
       '6 Jul 1994', '8 Jun 1994', '4 May 1994', '30 Mar 1994',
       '2 Mar 1994', '2 Feb 1994', '8 Dec 1993', '3 Nov 1993',
       '6 Oct 1993', '8 Sep 1993', '30 Jul 1993', '7 Jul 1993',
       '2 Jun 1993', '5 May 1993', '7 Apr 1993', '23 Mar 1993',
       '3 Feb 1993', '2 Dec 1992', '4 Nov 1992', '7 Oct 1992',
       '2 Sep 1992', '29 Jul 1992', '8 Jul 1992', '3 Jun 1992',
       '6 May 1992', '8 Apr 1992', '4 Mar 1992', '5 Feb 1992',
       '8 Jan 1992', '4 Dec 1991', '6 Nov 1991', '2 Oct 1991',
       '3 Sep 1991', '31 Jul 1991', '3 Jul 1991', '14 Jun 1991',
       '16 May 1991', '4 Apr 1991', '6 Mar 1991', '6 Feb 1991',
       '18 Dec 1990', '7 Nov 1990', '15 Oct 1990', '5 Sep 1990',
       '2 Aug 1990', '4 Jul 1990', '6 Jun 1990', '2 May 1990',
       '4 Apr 1990', '7 Mar 1990', '15 Feb 1990', '23 Jan 1990'],
      dtype=object)

In [34]:
def date_converter(date):
    
    """
    PARAMETERS
    date - string in format '2-digit-day month_name 4-digit-year'
    
    RETURNS
    date in new string format ' 4 digit year-2 digit month-2 digit day'
    """
    
    dct_month = {
        'Jan': '01',
        'Feb': '02',
        'Mar': '03',
        'Apr': '04',
        'May': '05',
        'Jun': '06',
        'Jul': '07',
        'Aug': '08',
        'Sep': '09',
        'Oct': '10',
        'Nov': '11',
        'Dec': '12'
    }
    
    lst_date = date.split()
        
    str_yr = lst_date[-1]
    
    str_mo = dct_month[lst_date[1]]
    
    str_d = lst_date[0]
    
    #add zeros before single digit dates
    if len(str_d) ==1:
        str_d += '0'
        str_d = str_d[::-1]
        
    
    str_date = f'{str_yr}-{str_mo}-{str_d}'

    return str_date

In [36]:
df_aud['date'] = [date_converter(d) for d in df_aud['date']]

In [37]:
df_aud.head()

         date change% AUD_rate_tgt%
0  2020-05-06    0.00          0.25
1  2020-04-08    0.00          0.25
2  2020-03-20   -0.25          0.25
3  2020-03-04   -0.25          0.50
4  2020-02-05    0.00          0.75