In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

# We are investigating the predictivity of central bank policy rates and stock market indices as they relate to the price of gold.

In [2]:
# Start by consolidating central bank rate data

%store -r df_aud
%store -r df_eur
%store -r df_gbp
%store -r df_usd
%store -r df_yen

In [23]:
df_aud.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           340 non-null    datetime64[ns]
 1   AUD_rate_tgt%  340 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 8.0 KB

In [24]:
df_eur.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 3 to 51
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   eur_rate  49 non-null     float64
 1   date      49 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB

In [25]:
df_gbp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    238 non-null    datetime64[ns]
 1   Rate    238 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 3.8 KB

In [26]:
df_usd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11109 entries, 0 to 6923
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          11109 non-null  datetime64[ns]
 1   usd_rate_tgt  11109 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 260.4 KB

In [27]:
df_yen.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7452 entries, 19725 to 27176
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      7452 non-null   datetime64[ns]
 1   yen_rate  3839 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 174.7 KB

In [30]:
# loop through all dataframes and merge via outer join, ensuring the df with the most non-null dates is the left object
df = pd.merge(df_usd, df_yen, how = 'outer', on = ['date'])
df = pd.merge(df, df_aud, how = 'outer', on = ['date'])
df = pd.merge(df, df_gbp, how = 'outer', on = ['date'])
df = pd.merge(df, df_eur, how = 'outer', on = ['date'])

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11273 entries, 0 to 11272
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           11273 non-null  datetime64[ns]
 1   usd_rate_tgt   11109 non-null  float64
 2   yen_rate       3839 non-null   float64
 3   AUD_rate_tgt%  340 non-null    float64
 4   Rate           238 non-null    float64
 5   eur_rate       49 non-null     float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 616.5 KB

In [33]:
df.rename(columns = {'AUD_rate_tgt%'})

        date  usd_rate_tgt  yen_rate  AUD_rate_tgt%  Rate  eur_rate
0 2008-12-16          0.25       0.3            NaN   NaN       NaN
1 2008-12-17          0.25       0.3            NaN   NaN       NaN
2 2008-12-18          0.25       0.3            NaN   NaN       NaN
3 2008-12-19          0.25       0.1            NaN   NaN       NaN
4 2008-12-20          0.25       0.1            NaN   NaN       NaN