In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

import datetime

import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('ggplot')

In [2]:
df_gbp = pd.read_csv('b_o_e.csv')

In [3]:
df_gbp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date Changed  238 non-null    object
 1   Rate          238 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.8+ KB

In [4]:
df_gbp

    Date Changed   Rate
0      19 Mar 20   0.10
1      11 Mar 20   0.25
2      02 Aug 18   0.75
3      02 Nov 17   0.50
4      04 Aug 16   0.25
..           ...    ...
233    10 Mar 75  10.25
234    17 Feb 75  10.50
235    10 Feb 75  10.75
236    27 Jan 75  11.00
237    20 Jan 75  11.25

[238 rows x 2 columns]

In [5]:
df_gbp.rename(columns = {'Date Changed': 'date'}, inplace = True)

In [6]:
def date_converter(date):
    
    """
    PARAMETERS
    date - string in format '2-digit-day month_name 2-digit-year'
    
    RETURNS
    date in new string format '4 digit year-2 digit month-2 digit day'
    """
    
    dct_month = {
        'Jan': '01',
        'Feb': '02',
        'Mar': '03',
        'Apr': '04',
        'May': '05',
        'Jun': '06',
        'Jul': '07',
        'Aug': '08',
        'Sep': '09',
        'Oct': '10',
        'Nov': '11',
        'Dec': '12'
    }
    
    lst_date = date.split()
        
    str_yr = lst_date[-1]
    
    if int(str_yr) >= 75:
        str_yr = '19' + str_yr
    
    else:
        str_yr = '20' + str_yr
    
    str_mo = dct_month[lst_date[1]]
    
    str_d = lst_date[0]
    
    #add zeros before single digit dates
    if len(str_d) ==1:
        str_d += '0'
        str_d = str_d[::-1]
        
    
    str_date = f'{str_yr}-{str_mo}-{str_d}'

    return str_date

In [7]:
# cast date to universal format
df_gbp['date'] = [date_converter(d) for d in df_gbp['date']]

In [8]:
df_gbp['date']

0      2020-03-19
1      2020-03-11
2      2018-08-02
3      2017-11-02
4      2016-08-04
          ...
233    1975-03-10
234    1975-02-17
235    1975-02-10
236    1975-01-27
237    1975-01-20
Name: date, Length: 238, dtype: object

In [9]:
# convert column to datetime
df_gbp['date'] = pd.to_datetime(df_gbp['date'], yearfirst = True)

In [10]:
df_gbp.head()

        date  Rate
0 2020-03-19  0.10
1 2020-03-11  0.25
2 2018-08-02  0.75
3 2017-11-02  0.50
4 2016-08-04  0.25

In [11]:
%store df_gbp

Stored 'df_gbp' (DataFrame)