In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

import datetime

import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use('ggplot')

In [2]:
df_fed1 = pd.read_csv('fed_tgt.csv')

In [3]:
df_fed1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4185 entries, 0 to 4184
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATE      4185 non-null   object
 1   DFEDTARU  4185 non-null   float64
dtypes: float64(1), object(1)
memory usage: 65.5+ KB

In [4]:
df_fed1.head()

         DATE  DFEDTARU
0  2008-12-16      0.25
1  2008-12-17      0.25
2  2008-12-18      0.25
3  2008-12-19      0.25
4  2008-12-20      0.25

In [5]:
df_fed1.rename(columns = {'DATE': 'date', 'DFEDTARU': 'usd_rate_tgt'}, inplace = True)

In [6]:
df_fed1['date'] = pd.to_datetime(df_fed1['date'], yearfirst = True)

In [7]:
df_fed1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4185 entries, 0 to 4184
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          4185 non-null   datetime64[ns]
 1   usd_rate_tgt  4185 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 65.5 KB

In [8]:
df_fed2 = pd.read_csv('fed_tgt2.csv')

In [9]:
df_fed2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6924 entries, 0 to 6923
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     6924 non-null   object
 1   DFEDTAR  6924 non-null   float64
dtypes: float64(1), object(1)
memory usage: 108.3+ KB

In [10]:
df_fed2.rename(columns = {'DATE': 'date', 'DFEDTAR': 'usd_rate_tgt'}, inplace = True)

In [11]:
df_fed2['date'] = pd.to_datetime(df_fed2['date'], yearfirst = True)

In [12]:
df_fed2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6924 entries, 0 to 6923
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          6924 non-null   datetime64[ns]
 1   usd_rate_tgt  6924 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 108.3 KB

In [16]:
df_fed2.head()

        date  usd_rate_tgt
0 1990-01-01          8.25
1 1990-01-02          8.25
2 1990-01-03          8.25
3 1990-01-04          8.25
4 1990-01-05          8.25

In [27]:
df_fed = pd.concat([df_fed1,df_fed2])

In [28]:
df_fed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11109 entries, 0 to 6923
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          11109 non-null  datetime64[ns]
 1   usd_rate_tgt  11109 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 260.4 KB

In [29]:
len(df_fed['date'].unique())

11109

In [31]:
df_fed.tail()

           date  usd_rate_tgt
6919 2008-12-11           1.0
6920 2008-12-12           1.0
6921 2008-12-13           1.0
6922 2008-12-14           1.0
6923 2008-12-15           1.0